body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.file-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.file-item {
    display: block;
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
    color: #000; /* Set text color to black */
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.file-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-decoration: none; /* Prevent underline on hover */
    color: #000; /* Keep text color black on hover */
}

.no-results {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

footer {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    color: #666;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
